{% extends 'base.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset password</button>
    <hr/>
    <a href="{% url 'login' %}"> Already have an account? </a>
</form>


<div class="max-w-lg mx-auto">
<h1 class="text-4xl text-gray-800">Enter a new password</h1>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">Confirm new password</button>
    </form>
</div>

{% endblock content %}